
<div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="page-header">
    <h1>Your ShareBox</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Filename</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
	<% @uploads.each do |upload| %>
	<tr>
	     <td><%= link_to File.basename(upload.name), upload.url %></td>
	     <td>
		     <%= link_to "Download", upload.url, :class => 'btn btn-mini btn-default' %>
         <%= link_to "Delete", upload_path(upload),
            method: :delete, 
            data: { confirm: 'Are you sure?' } , :class => 'btn btn-mini btn-danger' %>
         <button type="button" class="btn btn-mini btn-info shareLinkBtn" >Share Link</button>
         <span class="text-info" style="display:none; margin-left:10px;" >  <%= upload.url%></span>
      </td>      
	</tr>
	<% end %>
</tbody>
</table>
<%= link_to "Upload a file", uploads_new_path, :class => 'btn btn-primary' %>
</div>
</div>
</div>

<script type="text/javascript">
  $(".shareLinkBtn").click(function(){
    $(this).next().toggle("slow");
  });
</script>